img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0;
}

.center-text {
    text-align: center;
}

#rsvp-button {
    margin-top: 25px;
    font-size: 1em;
}