img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #343a40;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button > a {
  color: white;
}

button > a:hover {
  text-decoration: none;
  color: lightgray;
}

/* .row>* {
  padding: 0;
} */

.container {
  padding: 0;
}

.center-text {
  text-align: center;
}

.banner-text {
  position: absolute;
  top: 25%;
}

#banner > h1 {
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
}

#banner > h2 {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}

h3 {
  margin-bottom: 1rem;
}

#rsvp-button {
  margin-top: 25px;
  font-size: 1em;
  margin-bottom: 25px;
  width: 100%;
  max-width: 15%;
}

#banner {
  color: white;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img-container {
  background-color: black;
  background-image: url("assets/bannerImageEdited.jpg");
  min-height: 100vh;
}

.banner-img {
  opacity: .75;
  padding: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.rsvp-img {
  object-fit: cover;
  width: 100%;
  max-height: 60vh;
}

.rsvp-name {
  text-align: left;
}

#name-box {
  left: -15px;
}

.rsvp-form {
  margin-bottom: 1rem;
}

.search-step {
  padding: 0 15px 0 15px;
}

.rsvp-guests {
  text-align: left;
}

.rsvp-check {
  text-align: left;
  padding-left: 15px;
}

.rsvp-row {
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.left-btn {
	margin-right: 8px;
}

.navbar {
  padding: 0.5rem 1rem;
}

.form-group {
  text-align: left;
}

.section-container {
  padding: 30px;
}

.section-header {
  font-family: 'Sacramento', cursive;
  font-size: 3.25rem;
}

.section-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 70vh;
}

.disabled.selected {
  color: white;
  background-color: #007bff;
  opacity: .65;
}

.nav-link {
  font-size: 1.25rem;
  padding: 0;
  color: #343a40;
}

.nav-link.active.tab {
  color: #0d6efd;
}

#hotel-btn-group > button {
  min-width: 10rem;
}

.circle {
  border-radius: 100%;
}

.name-label {
  font-weight: bold;
  padding-top: 1.25rem;
}

/* Desktop only */
@media (min-width: 768px) {
  .img-container {
    max-height: 100vh;
  }
  .rsvp-form {
    max-width: 50%;
    margin: auto;
  }
  .nav-item {
    margin: 0 15px;
  }
  .section-container {
    padding: 4.5rem 25%;
  }
  #weddingparty {
    padding: 4.5rem 10%; 
  }
}

/* Mobile only */
@media (max-width: 768px) {
  #banner > h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .banner-img {
    height: 80vh;
  }
  #rsvp-button {
    max-width: 30%;
  }
  .circle {
    padding: 1.25rem;
  }
}

.primavera-ceremony {
  background-image: url('assets/primaveraCeremony.jpg');
  min-height: 50vh;
}

.primavera-reception {
  background-image: url('assets/primaveraReception.jpg');
  min-height: 50vh;
}