img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #343a40;
  text-decoration: none;
}

a.link {
  color: #2EABDC;
}

a:hover {
  text-decoration: none;
  color: #898EEB;
}

a.disabled {
  color: rgb(0 0 0 / 30%);
  cursor: default;
  pointer-events: none;
}

button > a {
  color: white;
}

button > a:hover {
  text-decoration: none;
  color: lightgray;
}

.container {
  padding: 0;
}

.center-text {
  text-align: center;
}

.banner-text {
  position: absolute;
  top: 25%;
}

#banner > h1 {
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
}

#banner > h2 {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}

h3 {
  margin-bottom: 1rem;
}

#rsvp-button {
  margin-top: 25px;
  font-size: 1em;
  margin-bottom: 25px;
  width: 100%;
  max-width: 15%;
}

#banner {
  color: white;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img-container {
  background-color: black;
  background-image: url('assets/bannerImageEdited.jpg');
  min-height: 100vh;
}

.banner-img {
  opacity: 0.75;
  padding: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.rsvp-img-container {
  background-color: black;
  min-height: 100vh;
}

.rsvp-img {
  opacity: 0.75;
  object-fit: cover;
  width: 100%;
  max-height: 100vh;
  padding: 0;
}

.rsvp-name {
  text-align: left;
}

#name-box {
  left: -15px;
}

.rsvp-form {
  margin-bottom: 1rem;
}

.search-step {
  padding: 0 15px 0 15px;
}

.rsvp-guests {
  text-align: left;
}

.rsvp-check {
  text-align: left;
  padding-left: 15px;
}

.rsvp-row {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.left-btn {
  margin-right: 8px;
}

.navbar {
  padding: 0.5rem 1rem;
}

.form-group {
  text-align: left;
}

.footer {
  padding: 1.25rem;
}

.section-container {
  padding: 30px;
}

.section-header {
  font-family: 'Sacramento', cursive;
  font-size: 3.25rem;
}

.section-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 70vh;
}

.disabled.selected {
  color: white;
  background-color: #007bff;
  opacity: 0.65;
}

.nav-link {
  font-size: 1.25rem;
  padding: 0;
  color: #343a40;
}

.nav-link.active.tab {
  color: #87ceeb;
}

#hotel-btn-group > button {
  min-width: 10rem;
}

.circle {
  border-radius: 100%;
}

.name-label {
  font-weight: bold;
  padding-top: 1.25rem;
}

/* Desktop only */
@media (min-width: 768px) {
  .img-container {
    max-height: 100vh;
  }
  .rsvp-form {
    max-width: 50%;
    margin: auto;
  }
  .nav-item {
    margin: 0 15px;
  }
  .section-container {
    padding: 4.5rem 25%;
  }

  #weddingparty {
    padding: 4.5rem 10%;
  }
}

/* Mobile only */
@media (max-width: 768px) {
  #banner > h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .banner-img {
    height: 80vh;
  }
  #rsvp-button {
    max-width: 30%;
  }
  .circle {
    padding: 1.25rem;
  }
  .footer {
    padding-bottom: 2rem;
  }
  .parallax {
    background-attachment: scroll;
  }
}

.primavera-ceremony {
  background-image: url('assets/primaveraCeremony.jpg');
  min-height: 50vh;
}

.primavera-ceremony.mobile {
  background-image: url('assets/primaveraCeremonyMobile.jpg');
}

.primavera-reception {
  background-image: url('assets/primaveraReception.jpg');
  min-height: 50vh;
}

.primavera-reception.mobile {
  background-image: url('assets/primaveraReceptionMobile.jpg');
}

.timeline {
  border-left: 3px solid #87ceeb;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 0 50px;
  list-style: none;
  text-align: left;
  max-width: 40%;
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #87ceeb;
  box-shadow: 0 0 0 3px #87ceeb;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: '';
  top: 3px;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #87ceeb;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

#whenwhere, #weddingparty {
  min-height: 100vh;
}

.temp-text {
  color: white;
  text-align: left;
  padding: 1.5rem;
  top: 10%;
}